<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%= nav_bar brand:"Loja",brand_link:root_url %>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Quantidade</td>
                <td>Preço</td>
            </tr>

            <% @produtos.each do |produto| %>
            <tr>
                <td><%= produto.nome %></td>
                <td><%= produto.descricao %></td>
                <td><%= produto.preco %></td>
                <td><%= produto.quantidade %>td>
            </tr>
           <% end %>
        </thead>
    </table>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Produto com Desconto</h4>
  </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Quantidade</td>
        <td>Preço</td>
      </tr>

      <% @produto_com_desconto.each do |produto| %>
        <tr>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.quantidade %>td>
        </tr>
      <% end %>
      </thead>
    </table>
</div>
</body>
</html>